<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Detalle'}) %>
        <link rel="stylesheet" href="/css/product.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>

        <main>
                <h3 class="titulo2">Palitos de naranja</h3>
                <div class="inf-product">
                    
                        <img src="/images/products/palito-naranja.jpg" alt="Palito frutal Naranja" class = "info-img1">
                        <img src="/images/products/informacion-nurtricional.png" alt="Palito frutal Naranja" class = "info-img2">
                </div>

                <div class="amount1">
                    
                    <div class="amount2">
                    <p>- 1 +</p>
                    </div>
                </div>

                <div class ="add">
                <i class="fas fa-cart-plus"></i>
                </div>



        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>
        
    </body>

</html>