<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Copito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/cart.css">
    
    </head>

    <body>
        <header>
            <div class="logo"> 
                <a href="/"><img src="images/logo.svg" alt="Logo de copito" class="logo2"></a>
            </div>

            <section class="barra-busqueda">
                <form action="/" method="POST">
                    <div class="campo-busqueda">
                        <input type="text" placeholder="Buscá productos" required>
                    </div>

                    <div class="lupa">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </section>
        

        <nav>
                   
            <div class="sec3">  
                
                <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                <a href="/cart ">Mis compras <i class="fas fa-shopping-basket"></i></a>
                
            </div> 
        
         </nav>
        <!-- <div class="burger-menu">
            <i class="fas fa-ice-cream"></i>
        </div> -->
        </header>
        <!-- <section class="banner">
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section> -->
        <main class="main-cart">
            <h3 class="title-cart">Tu carrito</h3>

                <article class="cart1">
                    <img src="images/p1.jpg" alt="Palito 1" clas="img-cart">
                    <div class="cart2">
                        <h3 class="cart-product">Palito frutal Naranja</h3>
                        <br>
                        <p> Palito helado de agua de naranja con jugo natural exprimido.<p>
                        <br>
                        <div class="cart1">
                            <p>Cantidad</p>
                            <p>- 4 +</p>
                            <i class="fas fa-trash"></i>
                            
                        </div>
                    </div>   
                    <p>$400</p>
                </article> 

                <article class="cart1">
                    
                    <img src="images/b1.jpg" alt="Palito 1" clas="img-cart">
                    <div class="cart2">
                        <h3 class="cart-product">Bombón Crocante</h3>
                        <br>
                        <p> Crema helada de dulce de leche cubierto con chocolate con leche, baño de repostería y cereal inflado.<p>
                        <br>
                        <div class="cart1">
                            <p>Cantidad</p>
                            <p>- 5 +</p>
                            <i class="fas fa-trash"></i>
                        
                        </div>
                    </div> 
                    <p>$800</p>
                </article> 

                <article class="cart1">
                    <img src="images/cassata.jpg" alt="Palito 1" clas="img-cart">
                    <div class="cart2">
                        <h3 class="cart-product">Casatta</h3>
                        <br>
                        <p> Helado de crema sabor frutilla, chocolate y crema americana.<p>
                        <br>
                        <div class="cart1">
                            <p>Cantidad</p>
                            <p>- 2 +</p>
                            <i class="fas fa-trash"></i>
                            
                        </div>
                    </div> 
                    <p>$2000</p>
                </article> 
                <article class="cart3">
                    <img clas="img-cart">
                    <div class="cart2"><p>Total</p></div>
                    <p>$3200</p>
                </article>
                



        </main>
        <footer>
            <div class="sec">

                <section class="fs">
                        <i class="fas fa-seedling"></i>
                        <h4>Productos de la mejor calidad</h4>
                        <p>Todos nuestros productos estan realizados con las mejores materias primas, son %100 naturales, bajos en azucar y sin tacc. </p>
                </section>
                
                <section class="fs">
                    <i class="fas fa-recycle"></i>
                   <h4>Nuestros packaging son 100% reciclables</h4>
                   <p>Tantos nuestros productos como nuestros packaging estan pensados para minimizar el impacto hambiental.</p>
                </section>
          
                <section class="fs">
                    <i class="fas fa-truck"></i>
                   <h4>Envios seguros</h4>
                   <p>Los envios son realizados en vehiculos refrigerados para garantizar la calidad de nuestros productos.</p>
                </section>

                <section class="fs">
                    <i class="fas fa-flask"></i>
                   <h4>Laboratorio interno</h4>
                   <p>Contamos con un equipo de calidad y laboratorio interno, a través del cual controlamos cada etapa del proceso productivo con análisis físico-químicos.</p>
                </section>

            </div> 
            <h5 class="titulo">Contacto</h5> 

            <div class="sec2">

                <div></div>

                <div class="sec4">
                        <section class="fs" class="sec4">
                            <h5>Instragam</h5>
                            <i class="fab fa-instagram"></i>
                        </section>
                        <section class="fs" class="sec4">
                            <h5>Facebook</h5>
                            <i class="fab fa-facebook"></i>
                        </section>
                        <section class="fs" class="sec4">
                            <h5>Twitter</h5>
                            <i class="fab fa-twitter"></i>
                        </section>
                </div>
                <div></div>


            </div>
                <!-- <h5>Copyright © 2022 Copito S.R.L.</h5>  -->
        </footer>
        
    </body>
</html>