<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Copito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    
    </head>

    <body>
        <header>
            <div class="logo"> 
                <a href="/"><img src="images/logo.svg" alt="Logo de copito" class="logo2"></a>
            </div>

            
            <section class="barra-busqueda">
                
                    <form action="/" method="POST">
                        <div class="campo-busqueda">
                            <input type="text" placeholder="Buscá productos" required>
                        </div>

                        <div class="lupa">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                
            </section>
        

        <nav>
                   
            <div class="sec3">  
                
                <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                <a href="/cart ">Mis compras <i class="fas fa-shopping-basket"></i></a>
                
            </div> 
        
         </nav>
        <!-- <div class="burger-menu">
            <i class="fas fa-ice-cream"></i>
        </div> -->
        </header>
        <!-- <section class="banner">
            <img src="images/banner.jpg" alt="Banner de ofertas">
        </section> -->
        <main>
            
            <section class="home-product">
                <h3>Palitos</h3>
                <div class="products">
                    <article class="item">
                        <a href="/palito-naranja"><img src="images/p1.jpg" alt="Palito frutal Naranja" ></a>
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                                <p class="price">$100</p>
                                <p class="discount"></p> 
                            <h4 class="description">Palito frutal Naranja</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/p2.jpg" alt="Palito Frutal Frutilla">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Palito Frutal Frutilla</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/p3.jpg" alt="PPalito Frutal Limón">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Palito Frutal Limón</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/p10.jpg" alt="Palito Bombón4">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Palito Bombón</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="home-product">
                <h3>Bombones</h3>
                <div class="products">
                    <article class="item">
                        <img src="images/b1.jpg" alt="Bombón Crocante" >
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Bombón Crocante</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/b2.jpg" alt="Bombón Suizo" >
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Bombón Suizo</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/b3.jpg" alt="Bombón Escocés" >
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                        <h4 class="description">Bombón Escocés</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/b4.jpg" alt="Bombón Split" >
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Bombón Split</h4>
                        </div>
                    </article>
                </div>  
            </section>
            <section class="home-product">
                <h3>Postres</h3>
                <div class="products">
                    <article class="item">
                        <img src="images/almendrado.jpg" alt="almendrado">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Almendrado</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/cassata.jpg" alt="cassata">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Cassata</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/crocantino.jpg" alt="crocantino 7">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                        <h4 class="description">Crocantino</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/delicia.jpg" alt="delicia">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Delicia</h4>
                        </div>
                    </article>
                </div>  
            </section>

            <section class="home-product">
                <h3>Tortas heladas</h3>
                <div class="products">
                    <article class="item">
                        <img src="images/lemonpie.jpg" alt="Lemonpie">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Lemonpie</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/cheesecake.jpg" alt="Cheesecake">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Cheesecake</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/semifriochocolate.jpg" alt="Chocotorta">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                        <h4 class="description">Chocotorta</h4>
                        </div>
                    </article>
                    <article class="item">
                        <img src="images/tiramisu.jpg" alt="Tiramisu">
                        <div class="main-article">
                            <i class="fas fa-ice-cream"></i>
                            <p class="price">$100</p>
                            <p class="discount"></p>
                            <h4 class="description">Tiramisu</h4>
                        </div>
                    </article>
                </div>  
            </section>

        </main>
        <footer>
            <div class="sec">

                <section class="fs">
                        <i class="fas fa-seedling"></i>
                        <h4>Productos de la mejor calidad</h4>
                        <p>Todos nuestros productos estan realizados con las mejores materias primas, son %100 naturales, bajos en azucar y sin tacc. </p>
                </section>
                
                <section class="fs">
                    <i class="fas fa-recycle"></i>
                   <h4>Nuestros packaging son 100% reciclables</h4>
                   <p>Tantos nuestros productos como nuestros packaging estan pensados para minimizar el impacto hambiental.</p>
                </section>
          
                <section class="fs">
                    <i class="fas fa-truck"></i>
                   <h4>Envios seguros</h4>
                   <p>Los envios son realizados en vehiculos refrigerados para garantizar la calidad de nuestros productos.</p>
                </section>

                <section class="fs">
                    <i class="fas fa-flask"></i>
                   <h4>Laboratorio interno</h4>
                   <p>Contamos con un equipo de calidad y laboratorio interno, a través del cual controlamos cada etapa del proceso productivo con análisis físico-químicos.</p>
                </section>

            </div> 
            <h5 class="titulo">Contacto</h5> 

            <div class="sec2">

                <div></div>

                <div class="sec4">
                        <section class="fs" class="sec4">
                            <h5>Instragam</h5>
                            <i class="fab fa-instagram"></i>
                        </section>
                        <section class="fs" class="sec4">
                            <h5>Facebook</h5>
                            <i class="fab fa-facebook"></i>
                        </section>
                        <section class="fs" class="sec4">
                            <h5>Twitter</h5>
                            <i class="fab fa-twitter"></i>
                        </section>
                </div>
                <div></div>


            </div>
                <!-- <h5>Copyright © 2022 Copito S.R.L.</h5>  -->
        </footer>
        
    </body>
</html>