<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Copito</title>
</head>
<body>
    <h1>Bienvenidos a Copito</h1>   
    <h2>Sitio en desarrollo</h2>

    <ul>
        <li><a href="/login">Ingreso</a></li>
        <li><a href="/register">Registro</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/cart">Carrito de compras</a></li>
    </ul>

</body>
</html>