.login{
    background-color:#00d4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
}

.formlog{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone{
    
    margin-bottom: 2rem;
    background-color: #E0ECEC;
    border-radius: 6px;
    width: 50%;

}

.dangermsg{
    color: #e92e63;
}
.zone input{
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;

}

.click button{
    width: 100%;
    padding: 0.75rem;
    background-color: #5b3363;
    border-radius: 4px;
    color: #E0ECEC;
}

.click:hover button{
    background-color: #e92e63;
    cursor: pointer;
}

.otro{

        font-size: 15px;
        text-align: center;
        color: #5b3363;
        cursor:pointer;

}

.userI{
    width: 100%;
    display: flex;
    justify-content: center;

}

.userI2{
    width: 60%;
    display: flex;
    justify-content: center;

}

.form2{
    display: flex;
    color: #5b3363;
    font-size: 20px;    
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* flex-direction: column;  */
}




.chargebutton2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.chargebutton3{
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
}
.chargebutton3 a{
    text-decoration: none;
    color: #E0ECEC;
}


.chargebutton2 button{
    width: 100%;
    padding: 0.75rem;
    background-color:#5b3363;
    border-radius: 4px;
    color: #E0ECEC;
}


.chargebutton2:hover button{
    background-color: #e92e63;
    cursor: pointer;
}  


/* Media Queries DESKTOP */

@media (min-width: 769px){


    .zone{
    
        margin-bottom: 2rem;
        background-color: #E0ECEC;
        border-radius: 6px;
        width: 15%;
    
    }

    .chargebutton3{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .userI2{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }



}