<footer>
    <div class="sec">

        <section class="fs">
                <i class="fas fa-seedling"></i>
                <h4>Productos de la mejor calidad</h4>
                <p>Todos nuestros productos estan realizados con las mejores materias primas, son %100 naturales, bajos en azucar y sin tacc. </p>
        </section>
        
        <section class="fs">
            <i class="fas fa-recycle"></i>
           <h4>Nuestros packaging son 100% reciclables</h4>
           <p>Tantos nuestros productos como nuestros packaging estan pensados para minimizar el impacto hambiental.</p>
        </section>
  
        <section class="fs">
            <i class="fas fa-truck"></i>
           <h4>Envios seguros</h4>
           <p>Los envios son realizados en vehiculos refrigerados para garantizar la calidad de nuestros productos.</p>
        </section>

        <section class="fs">
            <i class="fas fa-flask"></i>
           <h4>Laboratorio interno</h4>
           <p>Contamos con un equipo de calidad y laboratorio interno, a través del cual controlamos cada etapa del proceso productivo con análisis físico-químicos.</p>
        </section>

    </div> 
    

    <div class="sec2">

        <div></div>

        <div class="sec4">
                <section class="fs" class="sec4">
                    <h5>Instragam</h5>
                    <i class="fab fa-instagram"></i>
                </section>
                <section class="fs" class="sec4">
                    <h5>Facebook</h5>
                    <i class="fab fa-facebook"></i>
                </section>
                <section class="fs" class="sec4">
                    <h5>Twitter</h5>
                    <i class="fab fa-twitter"></i>
                </section>
        </div>
        <div></div>


    </div>
        
</footer>