<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.svg" alt="Logo de copito" class="logo2"></a>
    </div>

    <section class="barra-busqueda">
        <form action="/" method="POST">
            <div class="campo-busqueda">
                <input type="text" placeholder="Buscá productos" required>
            </div>

            <div class="lupa">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </section>


    <nav class="menu-nav">

        <div class="sec3">

            <ul>
                <li><a href="/products">Productos</a></li>
                <li><a href="/register">Registro </a></li>
                <li><a href="/login">Ingreso</a></li>
                <li><a href="/cart">Mis compras</a></li>
                <li><a href="/products/new">Nuevo </a></li>
                <li><a href="/products/edit">Editar </a></li>
            </ul>

        </div>

    </nav>



    <div class="contenedor-menu" id="contenedor-menu">
        <p class="btn-abrir-menu" id="btn-abrir-menu">
            <i class="fas fa-ice-cream"></i>
        </p>
        <nav class="elementos-menu">
            <ul>
                <li><a href="">PRECIO<i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="">SERVICI<i class="fas fa-lightbulb"></i>S </a></li>
                <li><a href="">CONTACT<i class="fas fa-assistive-listening-systems"></i>NOS </a></li>
            </ul>
        </nav>


    </div>


</header>