<header>


        <div class="logo"> 
            <a href="/"><img src="/images/logo.svg" alt="Logo de copito" class="logo2"></a>
        </div>



        <section class="barra-busqueda">
            <form action="/" method="POST">
                <div class="campo-busqueda">
                    <input type="text" placeholder="Buscá productos" required>
                </div>

                <div class="lupa">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>


<nav>
           
    <div class="sec3">  

        <a href="/products">Productos <i class="fas fa-ice-cream"></i></a>
        <a href="/users/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
        <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        <a href="/users/cart">Mis compras <i class="fas fa-shopping-basket"></i></a>
        <a href="/users/profile"> Mi cuenta <i class="fas fa-user"></i></a>
        
    </div> 

 </nav>



 <div class="contenedor-menu" id="contenedor-menu">
    <p class="btn-abrir-menu" id="btn-abrir-menu">
        <i class="fas fa-ice-cream"></i>
    </p>
        <nav class="elementos-menu">
            <ul>
                <li><a href="/users/register">Registro </a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/cart">Carrito</a></li>
            </ul>
        </nav>

</div>


</header>