<div class="Filtro-Categoria">
    <select name="formal" onchange="javascript:handleSelect(this)"> 
        <option value="">Filtro</option> 
        <option value="/products/palitos">Palitos</option> 
        <option value="/products/bombones">Bombones</option> 
        <option value="/products/postres">Postres</option> 
        <option value="/products/tortas">Tortas heladas</option> 

    </select>
</div>