<div class="sec2">

    <div></div>

    <div class="sec4">
            <section class="fs" class="sec4">
                <h5>Instragam</h5>
                <i class="fab fa-instagram"></i>
            </section>
            <section class="fs" class="sec4">
                <h5>Facebook</h5>
                <i class="fab fa-facebook"></i>
            </section>
            <section class="fs" class="sec4">
                <h5>Twitter</h5>
                <i class="fab fa-twitter"></i>
            </section>
    </div>
    <div></div>


</div>