<!DOCTYPE html>
<html>
        <!-- Include Head -->
        <%- include('../partials/head', {title: 'Registro'}) %>
        <link rel="stylesheet" href="/css/register.css">

    <body>
        <!-- Include Header -->
        <%- include('../partials/header') %>
       
        <main class="register">
            <form action="/users" method="POST" class="formreg" enctype="multipart/form-data">

                    <br><h4>Datos del usuario</h4><br>

                    <div class="zone"><input type="text" name="firstName" placeholder="Nombre" required ></div>
                    <!-- minlength="8" -->
                    <div class="zone"><input type="text" name="lastName" placeholder="Apellido" required></div>

                    <div class="zone"><input type="text" name="phoneNumber" placeholder="Telefono" required></div>

                    <div class="zone"><input type="email" name="email" placeholder="E-mail" required></div>

                    <div class="zone2">
                        <label for="category" class="form-label"><h4>Categoría de usuario:</h4></label>
                        <select name="category" id="category" required>
                            <option>Elegí el tipo de usuario</option>
                            <option value="User">User</option>
                            <option value="Seller">Seller</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>


                    <div class="zone">
                        <input type="password" name="password" placeholder="Contraseña" required>
                    </div>
    
                    <!-- <div class="zone">
                        <input type="password" name="password" placeholder="Confirmar contraseña" required>
                    </div> -->

                    <div class="zone2">
                        <label for="userImage"><h4>Imagen de perfil</h4></label><br>
                        <input type="file" name="userImage" id="userImage">
                    </div>

                    
                    <div class="button2">
                        
                        <div class="zone, registerbutton"><button type="submit">Enviar</button></div>
                        
                        <div class="zone, erasebutton"><button type="reset"> Borrar</button></div>
                    
                    </div>

            </form>
        </main>

        <!-- Include Footer -->
        <%- include('../partials/footer') %>

        <!-- Include Scripts -->
        <%- include('../partials/scripts') %>

    </body>

</html>